









.navbar {
	display: flex;
	justify-content: center;
	background-color: #222;
	align-items: center;

}

.logo img {
	max-width: 250px;
	margin: 1em;
}

.navbar-item {
	align-items: center;
	color: #ddd;
	text-transform: uppercase;
	margin: .25em;
	padding: 1em 0.6em;
	flex-basis: 4em;
	cursor: pointer;
	order: 1;
	font-size: 0.75em;
	font-weight: 300;
}

.navbar-item:hover {
	color: #555;
}
.navbar-item:nth-child(n+5) {
	order: 3;
}
.logo {
	display: block;
	order: 2;
	align-self: center;
	text-align: center;
	cursor: pointer;
}



/********RESPONSIVE STYLESHEET**********/
@media only screen and (max-width: 600px) {
     .navbar {
     	flex: none;
     }
     .navbar:after {
     	content: " ";
     	display: table;
     }
     .logo {
     	display: block;
     	height: auto;
     }
     .logo img {
     	display: block;
     	margin: 1em auto .5em;
     	max-width: 200px;
     }
}
