.footer {
	color: #fff;
	background-color: #222;
	flex: none;
	text-align: center;
}

.footer:before {
	content:  " ";
	display: table;
}

.footer-artwork img {
	width: 90%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.footer-artework:after {
	clear: both;
	content: " ";
	display: table;
}

.footer-copyright {
	font-size: 0.7em;
	background-color: #000;
	color: #999;
	padding: .5em;
}