
 body {
 	background-color: #fff;
 }
* {
	font-family: 'Roboto', sans-serif;
}
p {
	margin: 0;
}



.order-now {
	background-color: #f1c40f;
	padding: 0.8em;
	font-size: 0.9em;
	font-weight: 200;
	text-align: center;
	line-height: 1.7;
}

.order-now a {
	font-size: .9em;
	font-weight: 100;
	color: #fff;
	display: block;
	background-color: #333;
	padding: .5em 1em;
	max-width: 12em;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: .1em;
}

.pdfmenu {
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
}
.pdfmenu p{
	text-align: center;
}
.pdfmenu a{
	background-color: #f1c40f;
	color: #333;
	font-size: 0.8em;
	padding: .5em;
	text-align: center;
	cursor: pointer;
	margin-right: 1em;
	text-decoration: none;
	margin-top: 2em;
	
}